<div style="margin:auto;font-size:38px;font-weight:bolder;padding:25px 0px 25px 0px;width:1600px;" align="center">{{Summoner.Name}}</div>
<div style="display:table;width:1600px;margin:auto;border-spacing: 50px 15px">
    <div style="display:table-cell;width:500px;">
        <div style="padding-bottom:5px;text-decoration:underline;font-size:24px;font-weight:bolder;" align="center">TOP</div>
        <div style="padding-top:3px;background-color:lightgray"><img src="../Images/Champion_Icons/{{TopIMG.First}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{TopIMG.Second}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{TopIMG.Third}}.png" width="75" height="75" /></div>
    </div>
    <div style="display:table-cell;width:500px;">
        <div style="padding-bottom:5px;text-decoration:underline;font-size:24px;font-weight:bolder;" align="center">JUNGLE</div>
        <div style="padding-top:3px;background-color:lightgray"><img src="../Images/Champion_Icons/{{JungleIMG.First}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{JungleIMG.Second}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{JungleIMG.Third}}.png" width="75" height="75" /></div>
    </div>
    <div style="display:table-cell;width:500px;">
        <div style="padding-bottom:5px;text-decoration:underline;font-size:24px;font-weight:bolder;" align="center">MID</div>
        <div style="padding-top:3px;background-color:lightgray"><img src="../Images/Champion_Icons/{{MidIMG.First}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{MidIMG.Second}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{MidIMG.Third}}.png" width="75" height="75" /></div>
    </div>
</div>
<div style="display:table;width:1600px;margin:auto;border-spacing: 50px 15px">
    <div style="display:table-cell;width:500px;">
        <div style="padding-bottom:5px;text-decoration:underline;font-size:24px;font-weight:bolder;" align="center">ADC</div>
        <div style="padding-top:3px;background-color:lightgray;"><img src="../Images/Champion_Icons/{{AdcIMG.First}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{AdcIMG.Second}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{AdcIMG.Third}}.png" width="75" height="75" /></div>
    </div>
    <div style="display:table-cell;width:500px;">
        <div style="padding-bottom:5px;text-decoration:underline;font-size:24px;font-weight:bolder;" align="center">SUPPORT</div>
        <div style="padding-top:3px;background-color:lightgray"><img src="../Images/Champion_Icons/{{SupportIMG.First}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{SupportIMG.Second}}.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/{{SupportIMG.Third}}.png" width="75" height="75" /></div>
    </div>
    <div style="display:table-cell;width:500px;">
        <div style="padding-bottom:5px;text-decoration:underline;font-size:24px;font-weight:bolder;" align="center">OVERALL</div>  
        <div style="padding-top:3px;background-color:lightgray"><img src="../Images/Champion_Icons/Braum_Square_0.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/Lucian_Square_0.png" width="75" height="75" /></div>
        <div style="background-color:lightgray"><img src="../Images/Champion_Icons/JarvanIV_Square_0.png" width="75" height="75" /></div>
    </div>
</div>